.hoora-btn {
  min-width: 130px;
  height: 42px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 6px;
  border: none;
  background: linear-gradient(45deg, #000000, #1a1a1a);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: hidden;
}

.hoora-btn:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  );
  transform: rotate(45deg);
  transition: all 0.5s ease;
  z-index: -1;
}

.hoora-btn:hover:before {
  top: -100%;
  left: -100%;
}

.hoora-btn:after {
  border-radius: 6px;
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  z-index: -1;
  box-shadow:
    inset 2px 2px 2px 0px rgba(255, 255, 255, 0.4),
    4px 4px 8px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;
  background: linear-gradient(45deg, #f5b700, #ffd84d);
  right: 0;
}

.hoora-btn:hover:after {
  width: 100%;
  left: 0;
}

.hoora-btn:active {
  top: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.hoora-btn span {
  position: relative;
  z-index: 2;
}
